html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    background-color: rgb(247, 247, 233);
}

button {
    cursor: pointer;
}