.navigation {
    margin-top: 50px;
    border-bottom: solid 2px rgb(0, 100, 128);
}

.navigation__list {
    list-style-type: none;
    text-align: center;
}

.navigation__point {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.5rem;
}

.navigation__link {
    text-decoration: none;
    color: rgb(0, 100, 128);
}

.navigation__link:hover {
    border-bottom: solid 2px rgb(0, 100, 128);
}
