html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    background-color: rgb(247, 247, 233);
}

.navigation {
    margin-top: 50px;
    border-bottom: solid 2px rgb(0, 100, 128);
}

.navigation__list {
    list-style-type: none;
    text-align: center;
}

.navigation__point {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.5rem;
}

.navigation__link {
    text-decoration: none;
    color: rgb(0, 100, 128);
}

.navigation__link:hover {
    border-bottom: solid 2px rgb(0, 100, 128);
}

.main__section {
    text-align: center;
    margin: 30px 10px;
}

.section__image {
    margin: auto;
    width: 200px;
    border-radius: 50px;
}

.section__header {
    font-size: 1.5rem;
    color: rgb(0, 100, 128);
}

.section__paragraph {
    font-size: 1.2rem;
}

.section__div {
    overflow-x: auto;
}

.section__table {
    border-collapse: collapse;
    width: 65%;
    margin: auto;
    margin-bottom: 60px;
}

.table__cell {
    border: solid 1px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.table__header {
    background-color: rgb(19, 152, 130);
    color: white;
}

.table__caption {
    font-size: 1.5rem;
    padding: 30px;
    color: rgb(0, 100, 128);
}

.table__row:hover {
    background-color: rgb(222, 222, 222);
}

.section__button {
    padding: 10px 5px;
    border-radius: 5px;
}

.section__button--color {
    background-color: rgb(192, 196, 184);
    font-size: 1.2rem;
}

.section__button:hover {
    background-color: hsl(80, 9%, 80%);
    font-weight: bold;
}